body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url('../img/5566879.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.auth-container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 60px;
  width: 300px;
  background-color: rgb(237, 232, 232);
}
.form-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
form {
  display: flex;
  flex-direction: column;
}
input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: orangered;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: darkorange;
}
p {
  text-align: center;
}
.auth-button {
  /* Pagrindinis mygtuko dizainas */
  display: block;
  margin: 0 auto;
  padding: 10px;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-button:hover {
  background-color: darkorange;
}

/* Pakeisk mygtuko poziciją mažesniems ekranams */
@media (max-width: 480px) {
  .auth-container {
    display: flex;
    flex-direction: column; /* Vertikali orientacija */
    align-items: center; /* Horizontalus centras */
    justify-content: center; /* Vertikalus centras */
    height: 100vh; /* Užtikrina, kad viskas būtų per visą ekraną */
  }
}

@media (max-width: 360px) {
  .auth-button {
    font-size: 10px; /* Sumažiname teksto dydį */
    padding: 8px; /* Sumažiname mygtuko dydį */
  }
  .auth-button {
    margin-top: 20px; /* Tarpas nuo kitų elementų viršuje */
  }
}
