body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url('../img/5566879.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.auth-container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 200px;
  margin: 60px;
  width: 300px;
  background-color: rgb(237, 232, 232);
}
.form-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
form {
  display: flex;
  flex-direction: column;
}
input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button:hover {
  background-color: darkorange;
}
p {
  text-align: center;
}
.auth-button {
  padding: 10px;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto 20px auto;
}

.auth-button:hover {
  background-color: darkorange;
}

@media (max-width: 480px) {
  .auth-button {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 360px) {
  .auth-button {
    font-size: 12px;
    padding: 8px;
  }
}
